#content
{
    grid-area: content;
    display: grid;   
    grid-template-areas:"Backlog Ready Progress Finish";
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    grid-template-rows: calc(100vh - 40px);
    grid-gap: 20px;
    padding: 20px;
    text-align: center;  
}

h1{
    margin: 7px;
    padding: 7px;
    background-color:white;
    border-color: black;
    border-radius: 20px;
    border: solid;
}

/*-------------- Columns ---------------------------------*/
#backlog{
    grid-area: Backlog;
    background-color:rgb(219, 219, 219);
    border-radius: 10px;
}

#ready{
    grid-area: Ready;
    background-color:rgb(219, 219, 219);
    border-radius: 10px;
}

#progress{
    grid-area: Progress;
    background-color:rgb(219, 219, 219);
    border-radius: 10px;
}

#finish{
    grid-area: Finish;
    background-color:rgb(219, 219, 219);
    border-radius: 10px;
}

/*-------------------------------------------------------*/

.BTN_Issue_Add{
    width: 90%;
    padding: 7px;
    border-radius: 10px;
    font-size: 200%;
}

/*-------------- Issues ---------------------------------*/
.issue{
    background-color:white;
    border-radius: 10px;
    margin: 15px;
    padding: 7px;
    display: grid;
    grid-template-areas: "Summary Summary"
                        "User-Reported User-Reported"
                        "Severity Platform"
                        "Duration Duration"
                        "View-More View-More";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
}

.summary{
    grid-area: Summary;
}

.user-reported{
    grid-area: User-Reported;
}

.severity{
    grid-area: Severity;
    background-color: green;
    border-radius: 10px;
}

.platform{
    grid-area: Platform;
    background-color: orange;
    border-radius: 10px;
}

.duration{
    grid-area: Duration;
}

.view-more{
    grid-area: View-More;
}

/*--------------------------------------------------------*/