#content
{
    grid-area: content;
    display: grid;   
    grid-template-areas:"Backlog Ready Progress Finish";
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    grid-template-rows: calc(100vh - 40px);
    grid-gap: 20px;
    padding: 20px;
    text-align: center;  
}

h1{
    margin: 7px;
    padding: 7px;
    background-color:white;
    border-color: black;
    border-radius: 20px;
    border: solid;
}

#backlog{
    grid-area: Backlog;
    background-color:rgb(219, 219, 219);
    border-radius: 10px;
}

#ready{
    grid-area: Ready;
    background-color:rgb(219, 219, 219);
    border-radius: 10px;
}

#progress{
    grid-area: Progress;
    background-color:rgb(219, 219, 219);
    border-radius: 10px;
}

#finish{
    grid-area: Finish;
    background-color:rgb(219, 219, 219);
    border-radius: 10px;
}

.issue{
    background-color:yellow;
    margin: 15px;
}