:root{
    --primary:#eee;
    --dark:#000;
    --light:#dfe9f5;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8)
}

.page{
    position: absolute;
    left: 150px;
    top: 160px;
    display: flex;
    width: 60%; 
    background-image: url(/Bug-Tracker-System-main/Assignment-2/images/logo.png);
    background: var(--shadow);
    background-position: center;
}

.Us {
    background: var(--primary);
    text-align: center;
    padding: 1.5em 2em;
    margin: 10px;
    width: 300px;
    height: 350px;
    box-shadow: var(--shadow);
    transition: 00.25s;
}
.Us img{
    border-radius: 25px;
}

.Us:hover{
    width: 320px;
    height: 370px;
    margin: 20px;
}

header h1{
    color: var(--dark);
    position: relative;
    left: 45%;
    top:35px;
}