body{
    background: #dfe9f5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.logo{
    width: 500px;
    height: 200px;
    position: relative;
    top: 45%;
    left: calc(300% - 50px);
    transform: translate(50%,-50%);
    text-align:  center;
    left: 50px;
    display: flex;
    transition: all 0.5s ease;
    background: #eff;
    margin: 10px 0 0 10px;
}

.logo img{
    width: 150px;
    height: 150px;
    position: relative;
    top:30px;
    border-radius: 50%;
}

.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 50px;
    text-transform: uppercase;
}

a{
    position: relative;
    color: rgb(85,83,83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}
.Log{
    width: 320px;
    height: 350px;
    position: relative;
    top: 13%;
    left: calc(192% - 50px);
    transform: translate(-50%,-50%);
    background: #fff;
    box-sizing: border-box;
    padding: 70px 30px;
    color: #000;
}
.Log img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.Log h1{
    margin: 0;
    padding: 0 0 20px;
    font-size: 22px;
    text-align: center;
}

.Log input{
    width: 100%;
    margin-bottom: 20px;
}
.box{
    text-align: center;
    align-items: center;
}


.box input[type="text"], input[type="password"]{
    border: none;
    background: transparent;
    
    font-size: 16px;
    border: 3px solid #0367fd;
    padding: 14px 10px;
    width: 180px;
    outline: none;
    color: #000;
    border-radius: 5px;
    transition: 0.25s;
}

.box input[type="text"]:focus,.box input[type="password"]:focus{
    width: 220px;
    border-color: #ffc400;
}

.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #ffc400;
    padding: 14px 10px;
    outline: none;
    width: 120px;
    color: #000;
    border-radius: 5px;
    transition: 0.25px;
    cursor: pointer;
}

.box input[type="submit"]:hover{
    background: #ffc400;
}